    <table class="table-bordered table-striped">
        <thead>
            <tr>
                <th>Instance Name</th>
                <th>SQL Version</th>
                <th>Primary Role</th>
                <th>Migration Priority</th>
                <th>Clustered</th>
                <th>On Eva</th>
                <th>Location</th>
                <th>Notes</th>
                <th>Node 1</th>
                <th>Node 2</th>
                <th>Node 3</th>
                <th>Node 4</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            <tr app-database-instance
                *ngFor="let instance of instances"
                [instance]="instance" (isDeleted)="onDeleted()">
                

            </tr>
            <ng-container *ngIf="!(_editMode)">
                <tr>
                    <td>
                        <button (click)="onEditAddInstance()">+</button>
                    </td>
                </tr>   
            </ng-container>
            <ng-container *ngIf="_editMode">
                    <tr>
                            <td>
                                <input type="text"
                                        [(ngModel)]="_newInstance.InstanceName" />
                                </td>
                                <td>
                                    <select [(ngModel)]="_newInstance.InstanceVersion">
                                        <option *ngFor="let version of _sqlVerions">{{ version.InstanceVersion }}</option>
                                    </select>
                                </td>
                                <td>
                                <input type="text"
                                        [(ngModel)]="_newInstance.PrimaryRoleDesc" />
                                </td>
                                <td>
                                    <select [(ngModel)]="_newInstance.PriorityMigration">
                                        <option>true</option>
                                        <option>false</option>
                                    </select>
                                </td>
                                <td>
                                    <select [(ngModel)]="_newInstance.IsClustered">
                                        <option>true</option>
                                        <option>false</option>
                                    </select>
                                </td>
                                <td>
                                    <select [(ngModel)]="_newInstance.OnEva">
                                        <option>true</option>
                                        <option>false</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text"
                                    [(ngModel)]="_newInstance.Location" />
                                </td>
                                <td>
                                    <input type="text"
                                    [(ngModel)]="_newInstance.Notes" />
                                </td>
                                <td>
                                    <input type="text"
                                    [(ngModel)]="_newInstance.Node1" />
                                </td>
                                <td>
                                    <input type="text"
                                    [(ngModel)]="_newInstance.Node2" />
                                </td>
                                <td>
                                    <input type="text"
                                    [(ngModel)]="_newInstance.Node3" />
                                </td>
                                <td>
                                    <input type="text"
                                    [(ngModel)]="_newInstance.Node4" />
                                </td>
                                <td>
                                <button (click)="onAddInstance()">Add</button>
                                </td>
                        </tr>
            </ng-container>
            
        </tbody>
    </table>

