<ng-container *ngIf="!(_editMode)">
  <td><a routerLink="/databaseDetails" [queryParams]="{instanceid: _instance.instanceid}">{{ _instance.InstanceName }}</a></td>
  <td>{{ _instance.InstanceVersion }}</td>
  <td>{{ _instance.PrimaryRoleDesc }}</td>
  <td>{{ _instance.PriorityMigration }}</td>
  <td>{{ _instance.IsClustered }}</td>
  <td>{{ _instance.OnEva }}</td>
  <td>{{ _instance.Location }}</td>
  <td>{{ _instance.Notes }}</td>
  <td>{{ _instance.Node1 }}</td>
  <td>{{ _instance.Node2 }}</td>
  <td>{{ _instance.Node3 }}</td>
  <td>{{ _instance.Node4 }}</td>

  <td>
    <button (click)="editInstance()">Edit</button>
  </td>

</ng-container>
<ng-container *ngIf="_editMode">
  <td>
    <input type="text"
           [(ngModel)]="_instance.InstanceName" />
  </td>
  <td>
    <select [(ngModel)]="_instance.InstanceVersion">
        <option *ngFor="let version of _sqlVerions">{{ version.InstanceVersion }}</option>
    </select>
  </td>
  <td>
    <input type="text"
           [(ngModel)]="_instance.PrimaryRoleDesc" />
  </td>
  <td>
    <input type="text"
           [(ngModel)]="_instance.PriorityMigration" />
  </td>
  <td>
    <select [(ngModel)]="_instance.IsClustered">
        <option>true</option>
        <option>false</option>
    </select>
</td>
<td>
    <select [(ngModel)]="_instance.OnEva">
        <option>true</option>
        <option>false</option>
    </select>
</td>
<td>
    <input type="text"
    [(ngModel)]="_instance.Location" />
</td>
<td>
    <input type="text"
    [(ngModel)]="_instance.Notes" />
</td>
<td>
    <input type="text"
    [(ngModel)]="_instance.Node1" />
</td>
<td>
    <input type="text"
    [(ngModel)]="_instance.Node2" />
</td>
<td>
    <input type="text"
    [(ngModel)]="_instance.Node3" />
</td>
<td>
    <input type="text"
    [(ngModel)]="_instance.Node4" />
</td>
  <td>
    <button (click)="onUpdateInstance()">Update</button>
    <button (click)="onDeleteInstance()">Delete</button>
    <button (click)="onCancelEdit()">Cancel</button>
  </td>
</ng-container>