<table class="table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Database Name</th>
            <th>Moving To</th>
            <th>Expected Migration Date</th>
            <th>Associated App</th>
            <th>Assigned To</th>
            <th>Business Contact</th>
            <th>Business Contact Email</th>
            <th>Business Contact Phone</th>
            <th>Technical Contact</th>
            <th>Technical Contact Email</th>
            <th>Technical Contact Phone</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody>
        <tr app-database-details
            *ngFor="let detail of _details"
            [database]="detail" (isDeleted)="onDeleted()">
            

        </tr>
        <ng-container *ngIf="!(_editMode)">
                <tr>
                    <td>
                        <button (click)="onEditAddDatabase()">+</button>
                    </td>
                </tr>   
            </ng-container>
            <ng-container *ngIf="_editMode">
                <tr>
                    <td>
                        <input type="text"
                                [(ngModel)]="_newDatabase.DatabaseName" />
                    </td>
                    <td>
                        <input type="text"
                                [(ngModel)]="_newDatabase.MovingTo" />
                    </td>
                    <td>
                        <input type="text"
                                [(ngModel)]="_newDatabase.ExpectedMigrationDate" />
                    </td>
                    <td>
                        <input type="text"
                                [(ngModel)]="_newDatabase.AssociatedApp" />
                    </td>
                    <td>
                        <select [(ngModel)]="_newDatabase.AssignedTo">
                            <option *ngFor="let member of _teamMembers">{{ member.MemberName }}</option>
                        </select>
                    </td>
                    <td>
                        <input type="text"
                                [(ngModel)]="_newDatabase.BusinessContact" />
                    </td>
                    <td>
                        <input type="text"
                                [(ngModel)]="_newDatabase.BusinessContactEmail" />
                    </td>
                    <td>
                        <input type="text"
                                [(ngModel)]="_newDatabase.BusinessContactPhone" />
                    </td>
                    <td>
                        <input type="text"
                                [(ngModel)]="_newDatabase.TechincalContact" />
                    </td>
                    <td>
                        <input type="text"
                                [(ngModel)]="_newDatabase.TechnicalContactEmail" />
                    </td>
                    <td>
                        <input type="text"
                                [(ngModel)]="_newDatabase.TechnicalContactPhone" />
                    </td>
                    <td>
                            <button (click)="onAddDatabase()">Add</button>
                    </td>
                </tr>
            </ng-container>
    </tbody>
</table>
