<ng-container *ngIf="!(_editMode)">
    <td>{{ _detail.DatabaseName }}</td>
    <td>{{ _detail.MovingTo }}</td>
    <td>{{ _detail.ExpectedMigrationDate }}</td>
    <td>{{ _detail.AssociatedApp }}</td>
    <td>{{ _detail.AssignedTo }}</td>
    <td>{{ _detail.BusinessContact }}</td>
    <td>{{ _detail.BusinessContactEmail }}</td>
    <td>{{ _detail.BusinessContactPhone }}</td>
    <td>{{ _detail.TechincalContact }}</td>
    <td>{{ _detail.TechnicalContactEmail }}</td>
    <td>{{ _detail.TechnicalContactPhone }}</td>
    <td>
      <button (click)="editDatabase()">Edit</button>
    </td>
</ng-container>
<ng-container *ngIf="_editMode">
      <td>
        <input type="text"
               [(ngModel)]="_detail.DatabaseName" />
      </td>
      <td>
        <input type="text"
               [(ngModel)]="_detail.MovingTo" />
      </td>
      <td>
        <input type="text"
               [(ngModel)]="_detail.ExpectedMigrationDate" />
      </td>
      <td>
        <input type="text"
               [(ngModel)]="_detail.AssociatedApp" />
      </td>
      <td>
        <select [(ngModel)]="_detail.AssignedTo">
          <option *ngFor="let member of _teamMembers">{{ member.MemberName }}</option>
        </select>
      </td>
      <td>
        <input type="text"
               [(ngModel)]="_detail.BusinessContact" />
      </td>
      <td>
        <input type="text"
               [(ngModel)]="_detail.BusinessContactEmail" />
      </td>
      <td>
        <input type="text"
               [(ngModel)]="_detail.BusinessContactPhone" />
      </td>
      <td>
          <input type="text"
                 [(ngModel)]="_detail.TechincalContact" />
        </td>
        <td>
          <input type="text"
                 [(ngModel)]="_detail.TechnicalContactEmail" />
        </td>
        <td>
          <input type="text"
                 [(ngModel)]="_detail.TechnicalContactPhone" />
        </td>
      <td>
        <button (click)="onUpdateDatabase()">Update</button>
        <button (click)="onDeleteDatabase()">Delete</button>
        <button (click)="onCancelEdit()">Cancel</button>
      </td>
</ng-container>